#project-ct{
  padding: 10px;
  overflow: hidden;
}
@media screen and (max-width: 600px){
  #desc-ct{
    display:none;
    visibility: hidden;
  }
}
.project-title{
  color: #470d04;
}
#project-jumbo{
  background-color: #f1dbf9;
}
#project-desc{
  background-color: transparent;
  border-radius: 3px;
  color: #470d04;
  font-weight: bold;
}
#image-col{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  height: 40vh;
}
h1{
  color: #470d04;
}
img{
  max-height: 100%;
  max-width: auto;
  align-self: center;

  box-shadow: 5px 3px 10px 3px grey ;
}
