#project-ct{
  padding: 10px;
  overflow: hidden;
}
#desc{
  background-color:#435470;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
}
@media screen and (max-width: 400px){
  #desc-ct{
    display:none;
    visibility: hidden;
  }
}
