#header-button{
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
@media screen and (min-width: 600px){
  #header-button{
    font-size: 100%;
  }
}

@media screen and (max-width: 600px){
  #header-button{
    font-size: 3vw;
  }
}
#button-ct:first-child > #header-button{
}
#button-ct{
  border-right: 2px solid white;
  min-width: 10vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
#button-ct:last-child{
  border-color: transparent;
}
#header-group{
  border-radius: 10px;
  border: 2px solid white;
}
