#header{
  width: 100%;
  height: 20vh;
  display:flex;
  align-items: flex-end;
  padding: 10px;
}
#disclaimer{
  color: #f7e4d2;
  margin-top: 20px;
}
#contact-info-header{
  color: #f7e4d2;
}
#contact-info-header:first-child{
  margin-top: 20px;
  font-size: 30px;
}
